<?xml version="1.0"?>

<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />

    <httpHandlers>
      <remove path="WebResource.axd" verb="GET"/>
      <remove path="WebResource.axd" verb="POST"/>
      <remove path="ScriptResource.axd" verb="GET"/>
      <remove path="ScriptResource.axd" verb="POST"/>
    </httpHandlers>

    <httpRuntime enableVersionHeader="false"/>
    
  </system.web>

    <system.webServer>
      <directoryBrowse enabled="false" />
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>
          <add name="X-XSS-Protection" value="1; mode=block"/>
          <remove name="X-Powered-By"/>
          <add name="Content-Security-Policy"
                  value="default-src 'none'; style-src 'self'; img-src 'self'; 
                font-src 'self'; script-src 'self'" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>

</configuration>
